// Variáveis de ambiente para o ambiente de desenvolvimento
DATABASE_URL="Coloque aqui a URL do seu banco de dados PostgreSQL"
PRISMA_DATABASE_URL="Coloque aqui a URL do seu banco de dados PostgreSQL"    
POSTGRES_URL="Coloque aqui a URL do seu banco de dados PostgreSQL"
JWT_SECRET="Coloque aqui a chave secreta para geração de tokens JWT"